html,
body,
#terminal {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.terminal,
.terminal-container,
.xterm-screen {
  width: 100% !important;
  height: 100% !important;
  overflow: hidden;
}

/* 退出登录的按钮 */
.exit button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

/* 隐藏滚动条 */
::-webkit-scrollbar {
  width: 0;
}

/* 弹窗的样式 */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.ssh-form {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.ssh-form label {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

.ssh-form input {
  width: 95%;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.ssh-form button[type="submit"] {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.ssh-form button[type="submit"]:hover {
  background-color: #3E8E41;
}